
.start-content{
  background-color: #1240f8;
  padding: 2rem;
  border-radius: 8px;
  border: 5px solid #3d61f3;
  gap: 1rem;
}

.get-start-title{
  color: var(--white);
}

.get-start-text{
  color: var(--secondary);
  line-height: 1.2rem;
}

.get-start-btn{
  background-color: #3f64f8;
  font-size: 0.9rem;
  color: var(--white);
  padding: 0.8rem 1.3rem;
  border-radius: 8px;
  border: 2px solid white;
  transition: var(--transition);
}

.get-start-btn:hover{
  transform: scale(1.1);
}